/* Estilos para a página de sucesso */
.finalizacao-compra {
   text-align: center;
   padding: 50px;
   background-color: #f4f4f4;
   min-height: 100vh;
}

.finalizacao-compra h2 {
   font-size: 24px;
   margin-bottom: 20px;
}

.finalizacao-compra p {
   font-size: 18px;
   margin-bottom: 30px;
}

.finalizacao-compra .btn-voltar {
   display: inline-block;
   padding: 10px 20px;
   background-color: #FFA500;
   color: white;
   text-decoration: none;
   border-radius: 5px;
   font-size: 16px;
}

.finalizacao-compra .btn-voltar:hover {
   background-color: #e69500;
}
