<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brócolis - DOP</title>
    <link rel="stylesheet" href="css/ameixa.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    
    <header>
    <a href="/" class="back"><span class="back-icon">❮</span></a>
    <span class="logo">DOP</span>
</header>

<main>
    <section class="produto-container">
        <section class="produto-img-container">
            <img src="/imagens/ameixa.png" alt="Ameixa Importada" class="produto-img">
        </section>
        <article class="produto-info">
            <h2>Ameixa Importada</h2>
            <p class="preco">R$ 2,99</p>
            <p class="unidade">Unidade 150g</p>
            <button class="btn-carrinho">Adicionar ao Carrinho</button>
        </article>
    </section>

    <section class="peca-tambem">
        <h3>Peça também</h3>
        <section class="produtos-sugeridos">
            <article class="produto-sugerido">
                <a href="/abacaxi" class="abacaxi-button">
                    <img src="/imagens/abacaxi.png" alt="Abacaxi Pérola">
                    <p>R$ 9,85</p>
                    <p>Abacaxi Pérola<br>1,00kg cada</p>
                </a>
            </article>
            <article class="produto-sugerido">
                <a href="/brocolis" class="brocolis-button">
                    <img src="/imagens/brocolis.png" alt="Brócolis Ninja">
                    <p>R$ 9,70</p>
                    <p>Brócolis Ninja<br>Unidade 250g</p>
                </a>
            </article>
            <article class="produto-sugerido">
                <a href="/alface" class="alface-button">
                    <img src="/imagens/alface.png" alt="Alface Crespa">
                    <p>R$ 2,99</p>
                    <p>Alface Crespa<br>A unidade</p>
                </a>
            </article>
        </section>
    </section>

    <footer class="vendedor-info">
        <h4>Vendedor</h4>
        <a href="/perfil/cleuson">Cleuson</a>
        <a href="/perfil/cleuson">Ver perfil</a>
        <section class="vendedor-detalhes">
            <p><img src="/images/location.png" alt="Localização"> Barueri - São Paulo</p>
            <p><img src="/images/calendar.png" alt="Na DOP desde"> Na DOP desde 2024</p>
        </section>
        <a href="/denunciar" class="denunciar-link">Denunciar item</a>
    </footer>
</main>
</body>
</html>