<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro DOP</title>
    <link rel="stylesheet" href="css/cadastro.css">
</head>
<body>
    <header class="top-bar">
        <nav>
            <a href="/" class="back-button">&#8249;</a>
        </nav>
        <img src="imagens/dopimg.png" alt="DOP Logo" class="logo">
    </header>
    <section class="container">
        <header>
            <h2>Cadastro</h2>
        </header>
        <section class="social-login">
            <a href="#"><img src="imagens/google.png" alt="Google" class="google"></a>
            <a href="#"><img src="imagens/facebook.png" alt="Facebook" class="facebook"></a>
            <a href="#"><img src="imagens/linkedin.png" alt="LinkedIn" class="Linkedin"></a>
        </section>
        <p>ou use seu email para registro</p>
        <form>
            <input type="text" placeholder="Nome completo" required>
            <input type="email" placeholder="nome@gmail.com" required>
            <input type="password" placeholder="Senha" required>
            <input type="password" placeholder="Confirmar senha" required>
            <a href="/cadastro2">
            <button type="submit">Avançar</button>
        </a>
        </form>
        <footer class="footer">
            <p>Já tem uma conta? <a href="#">Login</a></p>
        </footer>
    </section>
</body>
</html>