<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro DOP</title>
    <link rel="stylesheet" href="css/cadastro.css">
</head>
<body>

    <section class="container">
        <section class="header">
            <h2>Criar conta</h2>
        </section>

        <form class="form" id="form">

            <section class="form-control">
                <label for="username">Nome</label>
                <input type="text" id="username" placeholder="Nome">

                <small>Error message</small>
            </section>

            <section class="form-control">
                <label for="email">Email</label>
                <input type="email" id="email">

                <small>Error message</small>
            </section>

            <section class="form-control">
                <label for="password">Senha</label>
                <input type="password" id="password">

                <small>Error message</small>
            </section>

            <section class="form-control">
                <label for="passwordtwo">Confirme sua senha</label>
                <input type="password" id="passwordtwo">

                <small>Error message</small>
            </section>

            <button type="submit">Criar Conta</button>

        </form>
    </section>

    <script src="js/cadastro.js"></script>
    
</body>
</html>