<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Delivery Organic Plant</title>
    <link rel="stylesheet" href="css/cadastro.css">
    <nav>
        <a href="/" class="back">&#8249;</a>
    </nav>
</head>
<body>
    <section class="container">
        <header>
            <h1>Cadastro</h1>
        </header>
        <section class="login-social">
            <button class="botao-social google">G</button>
            <button class="botao-social facebook">f</button>
            <button class="botao-social linkedin">in</button>
        </section>
        <p>ou use seu email para registro</p>
        <form>
            <input type="text" placeholder="Nome completo" required>
            <input type="email" placeholder="nome@gmail.com" required>
            <input type="password" placeholder="***************" required>
            <input type="text" placeholder="Localidade" required>
            <button type="submit">Criar</button>
        </form>
    </section>
</body>
</html>