<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acessar ou Criar Conta</title>
    <link rel="stylesheet" href="css/cadlog.css">
</head>
<body>
    <header>
        <nav>
            <a href="/" class="back">&#8249;</a>
        </nav>
        <img src="imagens/dopimg.png" alt="DOP Logo" class="logo">
    </header>

    <main>
        <h1>Acesse a sua conta ou crie</h1>
        <a href="/cadastro" class="button">Cadastro</a>
        <a href="/" class="button">Login</a>
    </main>
</body>
</html>
 