<!DOCTYPE html> 
<html lang="pt-BR"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport"content="width=device-width, initial-scale=1.0"> 
        <title>Alimentos que previnem o câncer de próstata</title> 
        <link rel="stylesheet" href="css/calendario.css"> 
    </head> 
    <body> 
        <header> 
            <nav> 
                <a href="/" class="back-button">&#8249;</a>
            </nav> 
            <img src="imagens/dopimg.png" alt="DOP Logo" class="logo"> 
        </header> 
        <section class="banner"> 
            <img src="imagens/calendario1.png" alt="Vegetais" class="banner-img"> 
            <h1>21 de Agosto de 2024</h1> 
            <h2>Alimentos que previnem <br>o câncer de próstata</h2> 
        </section> 
        <main> 
            <h3>Brócolis</h3> 
            <img src="imagens/calendario2.png" alt="Brócolis"class="broccoli-img"> 
            <p> Estudo realizado pelo Institute of Food Research (IFR), no Reino Unido, sugere que comer três ou quatro porções de brócolis por semana pode evitar o crescimento do tumor em pacientes recém-diagnosticadas.
            </p> 
            <p> De acordo com os pesquisadores, a molécula responsável pelo efeito protetor se chama sulforafano. 
            </p>
        </main> 
        <footer> 
            <a href="#" class="buy-button">Comprar</a> 
        </footer> 
    </body> 
    </html>