<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
    <link rel="stylesheet" href="css/carrinho.css">
</head>
<body>
    <header class="top-bar">
        <a href="/">
        <span class="back-icon">&#10094;</span>
    </a>
        <h1 class="logo">Meu Carrinho</h1>
    </header>
    <main class="carrinho-container">
        <section class="itens-carrinho">
            <h2>Itens no Carrinho</h2>
            <article class="produto">
                <figure>
                    <img src="imagens/brocolis.png" alt="Brócolis ninja">
                    <figcaption>Brócolis Ninja</figcaption>
                </figure>
                <header class="produto-header">
                    <h3>Brócolis Ninja</h3>
                    <p>R$ 9,70 <span class="unidade">Unidade 250g</span></p>
                </header>
                <footer class="produto-footer">
                    <input type="number" value="1" class="quantidade">
                    <button class="btn-remover">Remover</button>
                </footer>
            </article>
            <article class="produto">
                <figure>
                    <img src="imagens/abacaxi.png" alt="Abacaxi Pérola">
                    <figcaption>Abacaxi Pérola</figcaption>
                </figure>
                <header class="produto-header">
                    <h3>Abacaxi Pérola</h3>
                    <p>R$ 9,85 <span class="unidade">1kg cada</span></p>
                </header>
                <footer class="produto-footer">
                    <input type="number" value="1" class="quantidade">
                    <button class="btn-remover">Remover</button>
                </footer>
            </article>
        </section>
        <aside class="resumo-compra">
            <h2>Resumo da Compra</h2>
            <p>Total de itens: 2</p>
            <p>Total: R$ 19,55</p>
            <button class="btn-finalizar">Finalizar Compra</button>
        </aside>
    </main>
</body>
</html>