<!DOCTYPE html>
<html lang="pt-BR"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport"content="width=device-width, initial-scale=1.0"> 
    <title>Delivery Organic Plant</title> 
    <link rel="stylesheet"href="css/dop.css"> 
</head> 
<body> 
    <!-- Cabeçalho --> 
    <header> 
        <nav>
            <ul class="nav-list">
                <li><a href="/">Inicio</a></li>
                <li><a href="/cadlog">Conta</a></li>
                <li><a href="/calendario">Calendario</a></li>
                <li><a href="/">Ofertas do dia</a></li>
            </ul>
            <img src="imagens/dopimg.png" alt="DOP Logo" class="logo">
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>  
        </nav> 
    </header> 
    
    <!-- Conteúdo Principal --> 
    <main> 
        <!-- Banner --> 
        <section class="banner"> 
            <section class="banner-text"> 
                <h2>COMPRA E VENDA ALIMENTOS ORGÂNICOS</h2> <br>
                <a href="#" class="banner-button">Saiba mais →</a> 
            </section> 
            <figure> 
                <img src="imagens/path-to-image.png" class="img-responsiva" alt="Descrição da Imagem">
            </figure> 
        </section> 
        
        <!-- Métodos de Pagamento --> 
        <section class="payment-methods"> 
            <nav>
                <figure>
                <img src="imagens/pix-logo.png" class ="img-responsiva" alt="Descrição da Imagem">
                </figure>
                <figure>
               <img src="imagens/pagamentos.png" class ="img-responsiva" alt="Descrição da Imagem"> 
                </figure>
            </nav> 
        </section> 
        
        <!-- Ofertas do Dia --> 
        <section class="daily-offers"> 
            <h2>Ofertas do dia</h2> 
            <section class="offers-grid"> 
                <article class="offer-card"> 
                    <img src="imagens/brocolis.png" class ="img-responsiva">  
                    <p class="offer-price">R$ 9,70</p> 
                    <p class="offer-name">Brócolis ninja unidade 250g</p> 
                </article> 
                <article class="offer-card"> 
                    <img src="imagens/ameixa.png" class ="img-responsiva"> 
                    <p class="offer-price">R$ 2,99</p> 
                    <p class="offer-name">Ameixa importada unidade 150g</p> 
                </article> 
                <article class="offer-card"> 
                    <img src="imagens/abacaxi.png" class ="img-responsiva"> 
                    <p class="offer-price">R$ 9,85</p> 
                    <p class="offer-name">Abacaxi Pérola 1,00kg cada</p> 
                </article> 
                <article class="offer-card"> 
                    <img src="imagens/alface.png" class ="img-responsiva"> 
                    <p class="offer-price">R$ 2,99</p> 
                    <p class="offer-name">Alface crespa a unidade</p> 
                </article> 
            </section> 
            <a href="#"class="see-more">Ver mais</a> 
        </section> 
    </main> 
    
    <!-- Rodapé --> 
    <footer> 
        <p>&copy; 2024 Delivery Organic Plant. Todos os direitos reservados.</p> 
    </footer>

    <script src="js/mobile-navbar.js"></script>
</body> 
</html>